@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sales Web Mvc</h1>
    <p>Learn about <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp">Course of Nelio Alves</a> </p>
</div>


<a> </a>